@{
    ViewData["Title"] = "Home Page";

    string entryStr = "进入";
}



<div class="jumbotron">
    <h1>Tony Auto Sys</h1>
    <p>基于Asp.net Core创建</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">更多...</a></p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>婚纱照展示</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">@entryStr</a></p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Tony笔记</h3>
                <p>...</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">@entryStr</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>To Do List</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">@entryStr</a>
                </p>
            </div>
        </div>
    </div>

</div>
